<div class="d-flex flex-row justify-content-center align-items-center sign-in-page">
  <div class="form-box d-flex flex-column">
    <h1>Get Started Now</h1>
    <h3 class="text-center">Sign Up!</h3>

    <%= form_for @user, remote: true, html: { class: "d-flex flex-column"} do |form| %>
      <%= render partial: '/users/form', object: form %>
        <div class="d-flex justify-content-center">
          <%= form.submit "Sign Up", class: "submit-button" %>
        </div>
        <%#= link_to t(".sign_in"), sign_in_path %>

    <% end %>
  </div>
</div>