<h2>Listings:</h2>

<input type="text" data-provide='datepicker' > <br>
<% @listing.each do |x| %>
	Name = <%= link_to (x.name), listing_path(x) %> <br>
	<%= x.description %> <br> 
	<%= x.price %> <br> 
	<%= x.street + x.city %> <br>
<% end %>